@use "global" as *;

/**/
article,
article .inside-article,
article .inside-article .wp-block-columns {
  margin-bottom: 0px;
}

/* the news area*/
#news {
  overflow: hidden;
  width: 100%;
  background-color: lightgray;

  /* the heading of the news area*/
  #news-title {
    padding-top: 30px;
    text-align: center;
  }

  /* news items*/
  .row {
    padding-top: 30px;
    display: -webkit-inline-box;
    scrollbar-color: $primaryColor transparent;
    max-width: 100vw;
    padding-left: 10px;

    &:hover {
      overflow: auto;
    }

    /* scrollbar height */
    &::-webkit-scrollbar {
      height: 10px;
    }

    /* scrollbar  Handle */
    &::-webkit-scrollbar-thumb {
      background: $primaryColor;
      border-radius: 10px;
      border: solid 3px transparent;
    }

    /* scrollbar  Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #b30000;
    }

    /* layout of the news cards */
    .news-article {
      white-space: normal;
      border-radius: 3%;
      overflow: hidden;
      background-color: whitesmoke;
      max-height: 500px;

      /* Always use the full width for the news image*/
      .card-image {
        min-height: 150px;

        a {
          display: block;
          background-position: center center;
          background-size: cover;
          min-height: 150px;

          img {
            min-width: 100%;
          }
        }
      }

      /* content text layout*/
      .content {
        padding: 10px;
        color: #9a9a9a;
        font-size: 15px;
        font-weight: 300;
        line-height: 22px;
        margin: 15px 0 5px;
        height: 290px;

        /* center text of news item title*/
        .card-title {
          text-align: center;
          height: 45px;

          a {
            font-size: 19px;
            font-weight: 600;
          }
        }

        /* give the news card some margin*/
        .card-description {
          color: grey;

          .excerpt {
            height: 140px;
            overflow: hidden;
          }
        }
      }
    }
  }

  #newslinkdiv {
    margin: 20px;
    text-align: center;

    /* the link below the news items*/
    #newslink {
      text-align: center;
      font-size: 18px;
      color: $primaryColor;
    }
  }
}
/* show newsitems below each other on small screens */
@media (max-width: 600px) {
  #news .row {
    display: inline-block;
    display: unset;

    .news-article {
      margin-bottom: 30px;
      width: 90%;
      margin-left: 5%;
    }
  }
}

/*50% width if only two item*/
@media (min-width: 601px) {
  .news-article {
    width: 45.5vw;
    margin-left: 3vw;
  }
}

/*32% width*/
@media (min-width: $fullwidth) {
  .news-article {
    width: 30.7vw;
    margin-left: 2vw;
  }

  #new {
    white-space: nowrap;
  }
}

@media (min-width: 1245px) {
  #news .row {
    overflow: hidden;
  }
  .news-article {
    width: 370px;
    margin-left: 45px;
  }

  .news-article:first-child {
    margin-left: 0px;
  }

  #news {
    white-space: nowrap;
  }
}
