@use "global" as *;
@use "main-image";

.logged-in {
  /*Hide the login button, team section and ribbon section */
  .big-title-slider-content .buttons a.btn:nth-child(1),
  #team,
  #ribbon,
  .big-title-slider-content .buttons a:nth-child(1) {
    display: none;
  }

  /*Center the content of the event list on the homepage*/
  div.wp-block-column:nth-child(2) {
    text-align: center;
  }
}

#primary .inside-article,
.widget-area .widget,
#main .wp-block-group__inner-container {
  padding-top: 0px;
}

.is-layout-flex.wp-container-3.wp-block-columns {
  display: none;
}

/* Why did I do this?
.sidebar{
	z-index: -1;
} */
