/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
.childpost {
  li.current-page-item > a,
  li.current-page-ancestor > a {
    font-weight: bold;
  }

  & > ul {
    padding-left: 20px;
  }

  .expand-children {
    margin-left: 10px;
    float: right;
    line-height: 1;
    padding: 0px 5px;
  }
}

.expand-children {
  font-size: 8px;
}

.current_page_item {
  > a {
    font-weight: bold;
  }
}
